<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   idol.plist
   Practice0628_RealmStudy

   Created by leejaesung on 2017. 6. 28..
   Copyright (c) 2017년 leejaesung. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
